{{blog-detail blog=model destroyPost="destroyPost"}}
{{update-blog blog=model update="update"}}


<h2>Comments</h2>
{{new-comment saveComment="saveComment" blog=model}}

{{#each model.comments as |comment|}}
  {{comment-tile comment=comment}}
{{/each}}
